---
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";

const posts = await getCollection("posts");

const categories = [
  ...posts.map((post) => post.data.categories).flat(),
].sort((a, b) => a.localeCompare(b));

interface CategoryInfo {
  name: string,
  count: number
}

const categoryInfo = categories.reduce((acc: Record<string,CategoryInfo>, val) => {
  acc[val] = { name: val, count: (acc[val]?.count ?? 0) + 1 };
  return acc;
}, {});
---

<Layout title="Tags">
  <main>
    <section>
      <div class="section-header underlined">
        <h1>Blog Categories</h1>
      </div>
      <ul>
        {
          Object.values(categoryInfo).map((category) => (
            <li>
              <a href={`/blog/${category.name}`}>{category.name}</a> ({category.count})
              </li>
              ))
            }
      </ul>
    </section>
  </main>
</Layout>