---
import type { Platform } from "@lib/replay-api.ts";

interface Props {
  platforms: Array<Platform>;
  selectedPlatform?: string;
}

const { platforms, selectedPlatform } = Astro.props;
---

<div>
    <ul class="platform-filters">
    {
        platforms.map(platform => (
            <li class:list={["platform-filter", {'platform-filter--selected': selectedPlatform === platform.id}]}>
                <a href={`/releases/${platform.id}`}>{platform.name}</a>
            </li>
        )
    )}
    </ul>
</div>

<style scoped>
.platform-filters {
list-style-type: none;
display: flex;
padding-left: 0;
}

.platform-filter {
margin-right: 1rem;
padding: 0.6rem;
border: 2px solid #eaecef;
-webkit-user-select: none; /* Safari */
-ms-user-select: none; /* IE 10 and IE 11 */
user-select: none; /* Standard syntax */
}

.platform-filter:hover {
cursor: pointer;
}

.platform-filter--selected {
--rpl-link-color: "#FFFFFF";

color: #fff;
background-color: #e7501e;
border: 2px solid #e7501e;
}
</style>
