---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About">
  <section class="full-width">Full width HERO goes here</section>
  <main>
    <p>Main content here...</p>
    <p>Coming Soon(tm)</p>
  </main>
</Layout>
