---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";
import Post from "@components/Post.astro"

const posts = (await getCollection("posts")).sort((a,b) => b.data.created.getTime() - a.data.created.getTime())
---

<Layout title="News">
  <main>
    <h1>Latest News</h1>
    <p>Test card based layout for recent news items.</p>
    <section class="featured-posts">
      {
        posts.slice(0,3).map(async (post) => <Post post={post} summary></Post>)
      }
    </section>

    <h1>News</h1>
    <p>Test layout for full summary news items.</p>
    <section class="posts">
      {
        posts.map(async (post) => <Post post={post} summary></Post>)
      }
    </section>
  </main>
</Layout>

<style>
  .posts {
    display: grid;
    grid-gap: 1rem;
  }

  .featured-posts {
    --max-col-count: 3;
    --grid-gap: 1rem;
    --total-grid-gap: calc(var(--max-col-count) * var(--grid-gap));

    display: grid;

    /* Auto fill grid but limit to at most N cols regardless of browser width */
    grid-template-columns: repeat(
      auto-fill,
      minmax(
        max(14rem, calc((100% - var(--total-grid-gap)) / var(--max-col-count))),
        1fr
      )
    );
    grid-gap: var(--grid-gap);
  }
</style>
