---
import type { InferGetStaticPropsType, GetStaticPaths } from "astro";
import { getCollection } from "astro:content";

import Layout from "@layouts/Layout.astro";
import Post from "@components/Post.astro";

export const getStaticPaths = (async () => {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: {
      id: post.id,
    },
    props: {
      post,
    },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { post } = Astro.props;
---

<Layout title={post.data.title}>
  <main>
    <Post post={post} summary={false} />
  </main>
</Layout>

<style>
  main {
    margin-inline: auto;
    max-width: 80ch;
  }
</style>
