---
import Layout from "@layouts/Layout.astro";
import CoreApplication from "@components/builds/CoreApplication.vue"
---

<Layout title="Core Releases">
  <main>
    <section>
      <div class="section-header underlined">
        <h1>Core Releases</h1>
      </div>
      <CoreApplication client:only="vue"></CoreApplication>
    </section>
  </main>
</Layout>