---
import vercelLogo from "../assets/powered-by-vercel.svg";
---

<footer>
  <p>Copyright 2023 FPGA Arcade - All Rights Reserved</p>
  <img src={vercelLogo.src} width="190" alt="Powered by Vercel" />
</footer>

<style>
  footer {
    overflow: hidden;
    background-color: var(--rpl-footer-background-color);
    color: var(--rpl-footer-text-color);
    padding: 3em;

    text-align: center;
    font-size: small;
  }
</style>
