---
import headerLogo from "../assets/header-logo.png";
import { GithubIcon } from "vue3-simple-icons";
import MenuIcon from "vue-material-design-icons/Menu.vue";

import { Image } from "astro:assets";
---

<header>
  <Image src={headerLogo} alt="FPGA Arcade Logo" />

  <nav>
    <ul class="nav-list">
      <li><a href="/">Hardware</a></li>
      <li><a href="/demo">News</a></li>
      <li>FAQ</li>
      <li>Docs</li>
      <li>Releases</li>
      <li>Forum</li>
      <li><GithubIcon style="fill: white" /></li>
    </ul>
    <div class="three-lions">
      <MenuIcon />
    </div>
  </nav>

  <style>
    header {
      --rpl-link-color: var(--rpl-header-text-color);

      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1em;

      padding: 0.5em;
      height: 46px;

      overflow: hidden;
      background-color: var(--rpl-header-background-color);
      color: var(--rpl-header-text-color);
    }

    header > img {
      object-fit: contain;
      object-position: left;
      height: 100%;
    }

    .nav-list {
      display: none;
    }

    .three-lions {
      display: block;
      margin-left: auto;
    }

    /* TODO: extract breakpoints */
    @media (min-width: 700px) {
      .nav-list {
        display: flex;
        align-items: center;

        gap: 1em;
        list-style-type: none;
      }

      .three-lions {
        display: none;
      }
    }
  </style>
</header>
