---
import headerLogo from "../assets/header-logo.png";
import { Image } from "astro:assets";
---

<header>
  <Image src={headerLogo} alt="FPGA Arcade Logo" />
  <ul class="nav-list">
    <li>Hardware</li>
    <li>News</li>
    <li>FAQ</li>
    <li>Docs</li>
    <li>Releases</li>
    <li>Forum</li>
    <li>GitHub</li>
  </ul>
  <div class="three-lions">---</div>
</header>

<style>
  header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;

    padding: 0.5em;
    height: 46px;

    overflow: hidden;
    background-color: #161616;
    color: #a1a1a1;
  }

  header > img {
    object-fit: contain;
    object-position: left;
    height: 100%;
  }

  .nav-list {
    display: none;
  }

  .three-lions {
    display: block;
    margin-left: auto;
  }

  /* TODO: extract breakpoints */
  @media (min-width: 700px) {
    .nav-list {
      display: flex;
      margin-left: auto;

      gap: 1em;
      list-style-type: none;
    }

    .three-lions {
      display: none;
    }
  }
</style>
