---
import Layout from "@layouts/Layout.astro";

export type Categories = Record<string, CategoryInfo>

export interface CategoryInfo {
  name: string,
  count: number
}

export interface Props {
  title: string;
  categories: Categories;
}

const { title, categories } = Astro.props;
---

<Layout title={title}>
  <main>
    <section slot="sidebar">
      <slot name="sidebar">
        <div class="section-header underlined">
          <h1>Categories</h1>
        </div>
        <ul>
          {
            Object.values(categories).map((category) => (
              <li>
                <a href={`/blog/${category.name}`}>{category.name}</a>
                <span>({category.count})</span>
              </li>
            ))
          }
        </ul>
      </slot>
    </section>

    <section class="content">
      <slot />
    </section>
  </main>
</Layout>

<style>
  main {
    display: grid;

    grid-template-areas:
      "sidebar"
      "content";

    justify-items: start;
    gap: 1rem;
  }

  @media (min-width: 767px) {
    main {
      grid-template-areas: "content sidebar";
      justify-items: center;
    }
  }

  .sidebar {
    grid-area: sidebar;
  }

  .content {
    grid-area: content;
  }
</style>
